################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/HelloWorldCore6/bin/Debug/net6.0
/HelloWorldCore6/obj
/HelloWorldCore6.Data/bin/Debug/net6.0
/HelloWorldCore6.Data/obj/Debug/net6.0
/HelloWorldCore6.Data/obj
/HelloWorldCore6.Entities/bin/Debug/net6.0
/HelloWorldCore6.Entities/obj
/HelloWorldCore6/bin/Release/net6.0
/HelloWorldCore6.Data/bin/Release/net6.0
/HelloWorldCore6.Entities/bin/Release/net6.0
